body {
    background: #E0E0E0; 
    margin: 0px;
    font-size: 100px;
    font-family: 'Roboto Condensed', sans-serif;}

h1 {
    font-weight: normal;
    font-size: 1em;
    margin: 0;
    text-align: center;
}

span {
    font-weight: normal;
    font-size: 64px;
}

img {
    display: inline-block;
    max-width: 64px;
    padding: 10px;
    /*border: solid 1px;*/
}

.icon_row {
    text-align: center;
    padding: 0;
    margin: 0;
}

.top_space {
    font-size: 1em;
}

a {
    text-decoration:none;
    color: #000000;
}

table {
    margin-left: auto; 
    margin-right: auto;
    border-spacing: 0;
    max-width: 100%;
}

td {
    /*border: solid 1px;*/
}

@media only screen and (max-width: 650px) {
    h1 {
        font-size: .5em;
    }
    
    img {
        padding: 10px 2px 10px 2px;
        max-width: 48px;
    }
    
    .top_space {
        font-size: 0;
    }
}