body {
    background: #E0E0E0; 
    margin: 0px;
    font-size:100px;
    font-family: 'Roboto Condensed', sans-serif;}

h1 {
    font-weight: normal;
    font-size: 1em;
    margin: 0;
    text-align:center;
    
}

#favorites_bar {

}

img {
    display: inline-block;
    max-width: 64px;
}

.icon_row {
    text-align: center;
}

a{
    text-decoration:none;
    color: #000000;
}